<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h1>Edit</h1>
    <p>Username:<%=post.username%></p>
    <p>Id:<%=post.id%></p>
    <form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea placeholder="enter the new post" name="content"><%=post.content%></textarea>
        <br/>
        <button>Submit</button>
    </form>
</body>
</html>